/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Proxima Nova", sans-serif;
}
a {
  color: white !important;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  opacity: 0.4;
}
section h1,
article h1,
aside h1,
nav h1 {
  font-size: 3.77em !important;
}

/* FONT-FACE */
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/Proxima-Nova-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Novaa";
  src: url(../fonts/Proxima-Nova-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Novaaa";
  src: url(../fonts/Proxima-Nova-Bold.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Novaaaa";
  src: url(../fonts/Proxima-Nova-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Acumin-Pro-ExtraCondensed";
  src: url(../fonts/fonnts.com-Acumin_Pro_ExtraCondensed_Light.otf)
    format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fjalla One";
  src: url(https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap)
    format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Acumin-Pro-ExtraCondensedd";
  src: url(../fonts/fonnts.com-Acumin_Pro_ExtraCondensed_Bold.otf)
    format("opentype");
  font-weight: bolder;
  font-style: normal;
}
/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 48px 0;
  z-index: 1000;
}
.logo img {
  width: 120px;
  height: auto;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  font-family: "Proxima Nova", "sans-serif";
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  padding: 14px;
  text-transform: uppercase;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
#open-nav,
#close-nav {
  display: none;
}
/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero h1 {
  margin-top: 60px;
  margin-bottom: 49.8px;
  font-family: "Acumin-Pro-ExtraCondensed", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
.hero p strong {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Proxima Novaaa", "sans-serif";
}
/* CTA BUTTON */
.cta-button {
  border: none;
  margin-top: 18px;
  font-family: "Proxima Novaa", sans-serif;
  font-size: 15px;
  font-weight: 600;
  background: #000;
  color: #fff;
  padding: 21px 34px;
  text-transform: uppercase;
}
/* PHILOSOPHY SECTION */
#philosophy {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #000;
  padding: 120px 17px;
  text-align: center;
}
.philosophy img {
  margin: 0 auto 6rem;
  width: 55%;
  height: auto;
}
.philosophy h2 {
  text-align: center;
  max-width: 640px;
  margin: 0 auto 35px auto;
  font-size: 60px;
  font-family: "Acumin-Pro-ExtraCondensedd", sans-serif;
  font-weight: bolder;
  text-align: center;
}
.philosophy p {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  line-height: 1.8;
  color: #222;
}
/* Main */
h1,
h2 {
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  unicode-bidi: isolate;
}
h1 {
  font-size: 3.77em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
button {
  color: inherit;
  transition: color 0.2s ease-in-out;
}
/* FOOTER */
.contact-footer {
  display: flex;
  flex-direction: row;
  background: #000;
  color: #fff;
  padding: 100px 50px;
  justify-content: center;
  align-items: center;
}
.contact-footer p {
  display: inline;
  margin: 0 1rem;
  font-size: 13px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  text-align: center;
}
.philosophy p strong {
  font-family: "Proxima Novaaa", "sans-serif";
}
/* RESPONSIVE DESIGN */
@media (max-width: 767px) {
  .logo img {
    width: 80px;
    height: 82px;
  }
  nav {
    display: none;
  }
  nav.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 1000;
  }
  nav a {
    color: #fff;
    font-size: 14px;
    font-family: "Proxima Nova", sans-serif;
  }
  #open-nav {
    display: inline-block;
    position: fixed;
    top: 28px;
    right: 20px;
    background: #fff;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    color: #222;
    cursor: pointer;
    z-index: 11;
  }
  #close-nav {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 12;
  }
  #mobile-nav.active #close-nav {
    display: inline;
  }
  nav.active + #close-nav {
    display: inline-block;
  }
  nav.active ~ #open-nav {
    display: none;
  }
  .nav-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  .nav-toggle {
    background: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 24px;
    color: #222;
    cursor: pointer;
    z-index: 11;
  }
  header {
    position: fixed;
    margin: 0;
    padding: 10px 20px;
    background: #fff;
  }
  .hero h1 {
    font-size: 28px !important;
    margin-bottom: 23.2px;
  }
  .philosophy h2 {
    max-width: 80%;
    font-size: 32px;
  }
  .philosophy img {
    width: 100%;
  }
  .contact-footer {
    flex-direction: column;
  }
  .contact-footer p {
    margin-bottom: 16px;
  }
}
/* DESKTOP OVERRIDES */
@media (min-width: 768px) {
  #open-nav,
  #close-nav {
    display: none !important;
  }
}
